html,body {
	width:100%;
	height:100vh;
	/* min-width:800px;min-height:700px;*/
}
/* html {
	scroll-snap-type:y mandatory;
	scroll-behavior: smooth;
} */
body {
	/* background-attachment:fixed; */
	overflow-x:hidden;
	background:#2d2e35 ;
	margin:0;
}

.section {
	width:100%;
	height:100%;
	scroll-snap-align:center;
	scroll-snap-stop: always;
}

.Header-content{
    font-family:'SBAggroB';
	font-size:50px;
	display:block;
	margin:0;
	text-align:center;
	animation:fadeInUp 1s;
	padding:3.6%;
	color: #fdba05;
    padding-top: 3%;
    margin-bottom: -20px;
}

.number1 {
	font-family:'D2Coding',monospace;
	font-size:15px;
	word-break:break-word;
	padding:1.2px;
	user-select:none;
	text-align:left;
	color:rgb(170 170 170 / 40%);
	vertical-align:top;
	width:20px;
	padding:10px;
	/* animation:hide 0.1s 1;*/
	/* animation-fill-mode:forwards;*/
}
.context1 {
	color:white;
	white-space:nowrap;
	margin:0;
	position:absolute;
	color:transparent;
	user-select:none;
	font-family:'D2Coding',monospace;
	font-size:15px;
	/* color:white;*/
	word-break:break-word;
	border-color:inherit;
	border-style:solid;
	border-width:0;
	outline:none;
	text-indent:initial;
	border-spacing:2px;
	width:auto;
	padding:auto;
}
.context1::before {
	user-select:none;
	content:"Thank you for visited website";
	position:absolute;
	color:white;
	overflow:hidden;
	padding:10px;
	/* border-right:1px solid white;*/
	animation:typing 4s steps(40) 1;
	animation-fill-mode:forwards;
	/* content:"|";animation:blink 600ms linear infinite alternate;*/
}
.number2 {
	font-family:'D2Coding',monospace;
	font-size:15px;
	word-break:break-word;
	padding:1.2px;
	user-select:none;
	text-align:left;
	color:rgb(170 170 170 / 40%);
	vertical-align:top;
	width:20px;
	padding:10px;
	animation:hide 8s 1;
	animation-fill-mode: forwards;
}
.context2 {
	user-select:none;
	white-space:nowrap;
	margin:0;
	position:absolute;
	color:transparent;
	font-family:'D2Coding',monospace;
	font-size:15px;
	/* color:white;*/
	word-break:break-word;
	border-color:inherit;
	border-style:solid;
	border-width:0;
	outline:none;
	text-indent:initial;
	border-spacing:2px;
	width:auto;
	padding:auto;
	/* top:50%;left:50%;*/
	/* animation:hide 3.5s 1;*/
	/* animation-fill-mode:forwards;*/
}
.context2::before {
	user-select:none;
	position:absolute;
	overflow:hidden;
	padding:10px;
	/* border-right:1px solid white;*/
	animation:typing 3.5s steps(40) 1;
	animation-delay:3.5s;
	content:"Hello I'm Jimin Son";
	animation-fill-mode:forwards;
	/* content:"|";animation:blink 600ms linear infinite alternate;*/
}
.number3 {
	font-family:'D2Coding',monospace;
	font-size:15px;
	word-break:break-word;
	padding:1.2px;
	user-select:none;
	text-align:left;
	color:rgb(170 170 170 / 40%);
	vertical-align:top;
	width:20px;
	padding:10px;
	animation:hide 20s 1;
	animation-fill-mode: forwards;
}
.context3 {
	user-select:none;
	white-space:nowrap;
	margin:0;
	position:absolute;
	color:transparent;
	font-family:'D2Coding',monospace;
	font-size:15px;
	/* color:white;*/
	word-break:break-word;
	border-color:inherit;
	border-style:solid;
	border-width:0;
	outline:none;
	text-indent:initial;
	border-spacing:2px;
	width:auto;
	padding:auto;
	/* top:50%;left:50%;*/
	/* animation:hide 3.5s 1;*/
	/* animation-fill-mode:forwards;*/
}
.context3::before {
	user-select:none;
	position:absolute;
	overflow:hidden;
	padding:10px;
	/* border-right:1px solid white;*/
	animation:typing 3.5s steps(40) 1;
	animation-delay:6.5s;
	content:"Install Contents ...";
	animation-fill-mode:forwards;
	/* content:"|";animation:blink 600ms linear infinite alternate;*/
}
.number4 {
	font-family:'D2Coding',monospace;
	font-size:15px;
	word-break:break-word;
	padding:1.2px;
	user-select:none;
	text-align:left;
	color:rgb(170 170 170 / 40%);
	vertical-align:top;
	width:20px;
	padding:10px;
	animation:hide 32s 1;
	animation-fill-mode: forwards;
}
.context4 {
	user-select:none;
	white-space:nowrap;
	margin:0;
	position:absolute;
	color:transparent;
	font-family:'D2Coding',monospace;
	font-size:15px;
	/* color:white;*/
	word-break:break-word;
	border-color:inherit;
	border-style:solid;
	border-width:0;
	outline:none;
	text-indent:initial;
	border-spacing:2px;
	width:auto;
	padding:auto;
	/* top:50%;left:50%;*/
	/* animation:hide 3.5s 1;*/
	/* animation-fill-mode:forwards;*/
}
.context4::before {
	user-select:none;
	position:absolute;
	overflow:hidden;
	padding:10px;
	/* border-right:1px solid white;*/
	animation:typing 3.5s steps(40) 1;
	animation-delay:9.5s;
	content:"Successfully Installed";
	animation-fill-mode:forwards;
	/* content:"|";animation:blink 600ms linear infinite alternate;*/
}

.terminal {
	box-shadow:1px 1px 40px rgb(0 0 0 / 30%);
	margin:0 auto;
	max-width:93%;
}
.window-buttons {
	background-color:#fc625d;
	border-radius:50%;
	border:1px solid #fc625d;
	display:inline-block;
	height:10px;
	left:8px;
	position:relative;
	top:6px;
	width:10px;
	user-select:none;
}
.minimize {
	background-color:#fdbc40;
	border-color:#fdbc40;
	left:13px;
	user-select:none;
}
.zoom {
	background-color:#35cd4b;
	border-color:#35cd4b;
	left:18px;
	user-select:none;
}
.menu {
	background-color:#313444;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	box-sizing:border-box;
	height:30px;
	margin:0 auto;
	box-shadow:1px 1px 5px 1px #000;
}
.screen {
	background-color:#282a36;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	box-sizing:border-box;
	margin:0 auto;
	overflow:hidden;
	padding:1rem 1rem;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
	box-shadow:1px 1px 5px 1px #000;
}
.pre {
	-webkit-overflow-scrolling:touch;
	background:#2D2E35;
	border-radius:10px;
	color:#fff;
	display:block;
	font-family:'Hack Regular',monospace;
	font-size:.75rem;
	line-height:1.5;
	max-width:100%;
	min-width:100px;
	overflow-x:scroll;
	padding:0.5rem;
	white-space: nowrap;
}

.contact_me {
	font-size:30px;
	/* font-weight:bold;*/
	display:block;
	margin:0;
	text-align:center;
	padding-top:4%;
	padding-bottom:1%;
	color:transparent;
	font-family:'SBAggroB';
	margin:0;
	text-align:center;
	position:relative;
	animation:fadeInUp 1s 1;
	animation-delay:11.2s;
	animation-fill-mode:forwards;
    margin-top: 5px;
}

.contact_group li {
	/* position:relative;justify-content:center;text-align:center;display:block;margin:0;align-items:center;*/
	/* flex-direction:column;*/
	position:relative;
	list-style:none;
	display:inline-block;
}
.contact_group ul {
	list-style:none;
	text-align:center;
	padding-left:0;
}
/* .contact_group div{position:relative;text-align:center;margin-top: -30px;}*/
.contact_group div {
	position:relative;
	text-align:center;
	top:-30px;
	font-family: 'SBAggroB';
}
.contact_group {
	/* transform:translateX(-50%);*/
	/* position:relative;*/
	/* left:50%;*/
	margin:0 auto;
	/* padding:0.3;*/
	width:50%;
	border:1px solid;
	border-radius:10px;
	transition:transform 1s;
	perspective:300px;
	animation:flip 1s 1;
	animation-delay:12s;
	backface-visibility:hidden;
	display:block;
	justify-content:center;
	align-items:center;
	transform-style:preserve-3d;
	animation-fill-mode:forwards;
	opacity:0;
	/* animation:gradient 3.5s steps(40) 1;/* border-top;*/
}
@keyframes flip {
	60% {
		/* transition:1s;*/
		transform:rotateY(15deg);
	}
	100% {
		opacity:1;
	}
}
.card {
	display:flex;
	justify-content:center;
	align-items:center;
    position: absolute;
    height: 38%;
    width: 100%;
}
.dialogs {
	display:inline-block;
	grid-gap:30px;
	grid-template-columns:repeat(3,1fr);
	margin-top:1%;
	padding: 1rem 0 0;
}
.dialog {
	align-items:center;
	background-color:#4c4f5a;
	border-radius:10px;
	color:#fff;
	/* cursor:pointer;*/
	display:flex;
	padding:8.5px;
	position:relative;
	text-decoration:none;
	width:13rem;
	transition:transform 1s;
	perspective:300px;
	animation:flip 1s 1;
	animation-delay:12s;
	backface-visibility:hidden;
	align-items:center;
	transform-style:preserve-3d;
	animation-fill-mode:forwards;
	opacity:0;
	box-shadow:1px 1px 5px 1px #000;
	font-family:'BMDOHYEON';
	font-weight: 300;
    margin-top: 13px;
}
.dialog:hover {
	background-color:#313444;
}
.dialog:visited {
	color:inherit;
}
/* .dialog:hover{background-color:#FDA703;color: #2C2E34;}*/
.dialog p {
	font-size:0.85rem;
	line-height: 1.5;
}
.dialog ol {
	/* list-style-type:none;*/
	/* padding:0 1rem;*/
	margin:0 1rem 0 1.5rem;
}
.dialog li {
	/* border-bottom:1px solid #2C2E34;*/
	padding:0.5rem 1rem;
}
.dialog li:last-of-type {
	border-bottom:0;
	border-radius:0 0 10px 10px;
}
.flex {
	align-items:center;
	display:flex;
	/* justify-content: center;*/
}
/* show dropdown content */
.site-footer .glyph {
	padding:0.4rem;
}
.contact_grid svg {
	display:block;
	fill:#fff;
	height:30px;
	width:30px;
}
.contact_github {
	background-color:#181717;
	border-radius:10px;
	display:inline-block;
	margin-right:15px;
	padding:0.8rem;
}
.contact_gmail {
	background-color:#f2a60c;
	border-radius:10px;
	display:inline-block;
	margin-right:15px;
	padding:0.8rem;
}
.contact_discord {
	background-color:#5865F2;
	border-radius:10px;
	display:inline-block;
	margin-right:15px;
	padding: 0.8rem;
}