.section:nth-child(2) {
	background-color:rgb(24 25 32 / 34%);
}

.section-2-h1 {
	text-align:center;
	/* border:1px solid #000000;*/
	padding-top:3%;
	font-family:'SBAggroB';
	font-size:40px;
	display:flex;
	justify-content:center;
	align-items:center;
	color:#fdba05;
	margin-bottom:10px;
}
.skill-menu-item,.skill-menu-open-button {
	background:#EEEEEE;
	border-radius:100%;
	width:80px;
	height:80px;
	margin-left:-40px;
	position:absolute;
	text-align:center;
	font-size:10px;
	display:flex;
	justify-content:center;
	align-items:center;
	user-select:none;
	left:50%;
	font-family:'D2Coding';
}
.skill-menu-open {
	display:none;
}
.skills {
	display:flex;
	justify-content:center;
	align-items:center;
	color:black;
	font-size:20px;
	height: 80px;
}
.skill-menu {
	margin:auto;
	display:flex;
	justify-content:center;
	align-items:center;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	width:80px;
	height:80px;
	/* text-align:center;*/
	box-sizing:border-box;
	font-size:26px;
}
/* .heartbeat {
	animation:heartbeat 1.5s steps(144,end) forwards;
	animation-delay:0.4s;
}
@keyframes heartbeat {
	from {
		transform:scale(1);
		transform-origin:center center;
		animation-timing-function:ease-out;
	}
	10% {
		transform:scale(1.51);
		animation-timing-function:ease-in;
	}
	17% {
		transform:scale(1);
		animation-timing-function:ease-out;
	}
	33% {
		transform:scale(1.37);
		animation-timing-function:ease-in;
	}
	45% {
		transform:scale(1);
		animation-timing-function:ease-out;
	}
} */
/* .menu-item{transition: all 0.1s ease 0s;}*/
/* .skill-menu-item:hover{background:#EEEEEE;color: #3290B1;}*/
/* Main Circles */
.skill-menu-item:nth-child(3) {
	transition-duration:180ms;
}
.skill-menu-item:nth-child(4) {
	transition-duration:180ms;
}
.skill-menu-item:nth-child(5) {
	transition-duration:180ms;
}
.skill-menu-item:nth-child(6) {
	transition-duration:180ms;
}
.skill-menu-item:nth-child(7) {
	transition-duration: 180ms;
}
.skill-menu-box {
	width:auto;
	height:700px;
	/* background-color:rgb(0 0 0/ 15%);*/
	position:relative;
	left:50%;
	top:40%;
	transform:translate(-50%,-50%);
	margin:0;
}
.skill-menu-open-button {
	z-index:2;
	transition-timing-function:cubic-bezier(0.175,0.885,0.32,1.275);
	transition-duration:400ms;
	transform:scale(1.1,1.1) translate3d(0,0,0);
	cursor:pointer;
	box-shadow:1px 1px 5px 2.2px #000;
}
.skill-menu-open-button:hover {
	transform:scale(1.2,1.2) translate3d(0,0,0);
}
.skill-menu-open:checked+.skill-menu-open-button {
	transition-timing-function:linear;
	transition-duration:200ms;
	transform:scale(1.5,1.5) translate3d(0,0,0);
}
.skill-menu-open:checked ~ .skill-menu-item {
	transition-timing-function: cubic-bezier(0.935,0,0.34,1.33);
}
/* Database top tree */
.skill-menu-open:checked ~ .skill-menu-item:nth-child(3) {
	transition-duration:180ms;
	transform:translate3d(0.08361px,-104.99997px,0);
	font-size: 15px;
}
.tree1 {
	background-color:#669AE1;
	/* box-shadow:3px 3px 0 0 rgba(0,0,0,0.14);*/
	text-shadow:1px 1px 0 rgba(0,0,0,0.12);
}
/* Languages top tree */
.skill-menu-open:checked ~ .skill-menu-item:nth-child(4) {
	transition-duration:280ms;
	transform:translate3d(99.9466px,-26.475859999999997px,0);
	font-size: 15px;
}
.tree2 {
	background-color:#FC913A;
	/* box-shadow:3px 3px 0 0 rgba(0,0,0,0.14);*/
	text-shadow:1px 1px 0 rgba(0,0,0,0.12);
}
/* Web top tree */
.skill-menu-open:checked ~ .skill-menu-item:nth-child(5) {
	transition-duration:380ms;
	transform:translate3d(61.91639px,84.99997px,0);
	font-size: 15px;
}
.tree3 {
	background-color:#FE4365;
	/* box-shadow:3px 3px 0 0 rgba(0,0,0,0.14);*/
	text-shadow:1px 1px 0 rgba(0,0,0,0.12);
}
/* Cloud top tree */
.skill-menu-open:checked ~ .skill-menu-item:nth-child(6) {
	transition-duration:480ms;
	transform:translate3d(-61.91639px,84.99997px,0);
	font-size: 15px;
}
.tree4 {
	background-color:#C49CDE;
	/* box-shadow:3px 3px 0 0 rgba(0,0,0,0.14);*/
	text-shadow:1px 1px 0 rgba(0,0,0,0.12);
}
/* Network top tree */
.skill-menu-open:checked ~ .skill-menu-item:nth-child(7) {
	transition-duration:580ms;
	transform:translate3d(-99.9466px,-26.475859px,0);
	font-size: 15px;
}
.tree5 {
	background-color:#70CC72;
	/* box-shadow:3px 3px 0 0 rgba(0,0,0,0.14);*/
	text-shadow:1px 1px 0 rgba(0,0,0,0.12);
}
/* Database Tree start */
/* Database item start */
.skill-menu-open:checked ~ .skill-menu-item:nth-child(8) {
	transition-duration:580ms;
	-webkit-transition-duration:580ms;
	-webkit-transform:translate3d(-90.86291px,52.62064px,0);
	transform:translate3d(-62.9466px,-239.47586px,0);
	font-size:15px;
	border:3.5px solid #669AE1;
	animation:hidden 2.8s;
	overflow:hidden;
}
.skill-menu-open:checked ~ .skill-menu-item:nth-child(9) {
	transition-duration:580ms;
	transform:translate3d(64.9466px,-214.47586px,0);
	font-size:15px;
	border:3.5px solid #669AE1;
	animation:hidden 2.3s;
	overflow:hidden;
}
.database-mysql {
	background-image:url("../img/mysql.png");
	background-size:65px;
	background-repeat:no-repeat;
	background-color:#fff;
	background-position:center;
}
.database-mysql:hover:before {
	content:"50%";
	display:flex;
	justify-content:center;
	position:absolute;
	width:150px;
	height:150px;
	background:#669AE1;
	left:50%;
	animation:fill 1s ease-in-out forwards;
	z-index:-2;
	top:50%;
}
.database-sqlite {
	background-image:url("../img/sqlite.png");
	background-size:65px;
	background-repeat:no-repeat;
	background-color:#fff;
	background-position:center;
}
.database-sqlite:hover:before {
	content:"60%";
	display:flex;
	justify-content:center;
	position:absolute;
	width:150px;
	height:150px;
	background:#669AE1;
	left:50%;
	animation:fill 1s ease-in-out forwards;
	z-index:-2;
	top: 40%;
}
/* Database item end */
/* Database stick start */
.skill-menu-open:checked ~ .skill-menu-item:nth-child(10) {
	position:absolute;
	top:-180px;
	left:78px;
	height:100%;
	width:2px;
	border-radius:0%;
	background-color:transparent;
	transform:rotate(0deg);
	z-index:-2;
}
.skill-menu-open:checked ~ .skill-menu-item .database-main-stick {
	position:absolute;
	left:40px;
	width:2px;
	border-radius:0%;
	animation:Database-progressAnimation 1.7s ease-in-out forwards;
	animation-delay:0.175s;
	background-color:transparent;
	transform-origin:left bottom;
}
.skill-menu-open:checked ~ .skill-menu-item:nth-child(11) {
	position:absolute;
	top:-147px;
	left:92px;
	height:45%;
	width:2px;
	border-radius:0%;
	background-color:transparent;
	transform:rotate(49deg);
	z-index:-2;
}
.skill-menu-open:checked ~ .skill-menu-item .database-stick1 {
	position:absolute;
	left:40px;
	height:100%;
	width:2px;
	border-radius:0%;
	animation:Database-progressAnimation 1.3s ease-in-out forwards;
	animation-delay:0.6s;
	background-color:transparent;
	transform-origin:left bottom;
}
.skill-menu-open:checked ~ .skill-menu-item:nth-child(12) {
	position:absolute;
	top:-174px;
	left:67px;
	height:36%;
	width:2px;
	border-radius:0%;
	background-color:transparent;
	transform:rotate(-50deg);
	z-index:-2;
}
.skill-menu-open:checked ~ .skill-menu-item .database-stick2 {
	position:absolute;
	left:40px;
	height:100%;
	width:2px;
	border-radius:0%;
	animation:Database-progressAnimation 1.3s ease-in-out forwards;
	animation-delay:0.9s;
	background-color:transparent;
	transform-origin: left bottom;
}
/* Database stick end */
.database-main-stick,.database-stick1,.database-stick2 {
	position:absolute;
	left:50%;
}
@keyframes Database-progressAnimation {
	0% {
		transform:scale(1,0);
		background-color: #669AE1;
	}
	100% {
		/* transform:rotate(120deg);*/
		transform:scale(1,1.3);
		background-color:#669AE1;
	}
}
/* Database item end */
/* Database Tree end */
/* Languages tree start */
/* Languages item start */
.skill-menu-open:checked ~ .skill-menu-item:nth-child(13) {
	transform:translate3d(238px,-91px,0);
	border:3.5px solid #FC913A;
	font-size:15px;
	animation:hidden 3.3s;
}
.skill-menu-open:checked ~ .skill-menu-item:nth-child(14) {
	transform:translate3d(304.9466px,-194.47586px,0);
	border:3.5px solid #FC913A;
	font-size:15px;
	animation:hidden 5s;
}
.skill-menu-open:checked ~ .skill-menu-item:nth-child(15) {
	transform:translate3d(366.9466px,28.52414px,0);
	border:3.5px solid #FC913A;
	font-size:15px;
	animation:hidden 4.2s;
}
.skill-menu-open:checked ~ .skill-menu-item:nth-child(16) {
	transform:translate3d(497px,27px,0);
	font-size:15px;
	animation:hidden 5.65s;
}
.skill-menu-open:checked ~ .skill-menu-item:nth-child(17) {
	transform:translate3d(444.9466px,133.52414px,0);
	font-size:15px;
	animation:hidden 5.65s;
}
.skill-menu-open:checked ~ .skill-menu-item:nth-child(18) {
	transform:translate3d(593.9466px,-55.47586px,0);
	border:3.5px solid #FC913A;
	font-size:15px;
	animation:hidden 7.1s;
}
.skill-menu-open:checked ~ .skill-menu-item:nth-child(19) {
	transform:translate3d(620px,59px,0);
	border:3.5px solid #FC913A;
	font-size:15px;
	animation:hidden 7.1s;
}
.skill-menu-open:checked ~ .skill-menu-item:nth-child(20) {
	transform:translate3d(540.9466px,261.52414px,0);
	border:3.5px solid #FC913A;
	font-size:15px;
	animation:hidden 7.1s;
}
.skill-menu-open:checked ~ .skill-menu-item:nth-child(21) {
	transform:translate3d(438.9466px,243.52414px,0);
	border:3.5px solid #FC913A;
	font-size:15px;
	animation:hidden 7.1s;
}
.skill-menu-open:checked ~ .skill-menu-item:nth-child(22) {
	transform:translate3d(567.9466px,158.52414px,0);
	border:3.5px solid #FC913A;
	font-size:15px;
	animation:hidden 7.1s;
}
.languages-golang {
	background-image:url("../img/golang.png");
	background-size:78px;
	background-repeat:no-repeat;
	background-color:#fff;
	background-position:center;
	overflow:hidden;
}
.languages-golang:hover:before {
	content:"30%";
	display:flex;
	justify-content:center;
	position:absolute;
	width:150px;
	height:150px;
	background:#FC913A;
	left:50%;
	animation:fill 1s ease-in-out forwards;
	z-index:-2;
	top:70%;
}
.languages-python {
	background-image:url("../img/python.png");
	background-size:100px;
	background-repeat:no-repeat;
	background-color:#fff;
	background-position:center;
	overflow:hidden;
}
.languages-python:hover:before {
	content:"80%";
	display:flex;
	justify-content:center;
	position:absolute;
	width:150px;
	height:150px;
	background:#FC913A;
	left:50%;
	animation:fill 1s ease-in-out forwards;
	z-index:-2;
	top:20%;
}
.languages-gin {
	background-image:url("../img/gin.png");
	background-size:120px;
	background-repeat:no-repeat;
	background-color:#fff;
	background-position:center;
	overflow:hidden;
}
.languages-gin:hover:before {
	content:"30%";
	display:flex;
	justify-content:center;
	position:absolute;
	width:150px;
	height:150px;
	background:#FC913A;
	left:50%;
	animation:fill 1s ease-in-out forwards;
	z-index:-2;
	top:70%;
}
.languages-framework {
	background-size:85px;
	background-repeat:no-repeat;
	background-color:#FC913A;
	background-position:center;
}
.languages-data-analysis {
	background-size:85px;
	background-repeat:no-repeat;
	background-color:#FC913A;
	background-position:center;
}
.languages-django {
	background-image:url("../img/django.png");
	background-size:75px;
	background-repeat:no-repeat;
	background-color:#fff;
	background-position:center;
	overflow:hidden;
}
.languages-django:hover:before {
	content:"75%";
	display:flex;
	justify-content:center;
	position:absolute;
	width:150px;
	height:150px;
	background:#FC913A;
	left:50%;
	animation:fill 1s ease-in-out forwards;
	z-index:-2;
	top:25%;
}
.languages-flask {
	background-image:url("../img/flask.png");
	background-size:75px;
	background-repeat:no-repeat;
	background-color:#fff;
	background-position:center;
	overflow:hidden;
}
.languages-flask:hover:before {
	content:"55%";
	display:flex;
	justify-content:center;
	position:absolute;
	width:150px;
	height:150px;
	background:#FC913A;
	left:50%;
	animation:fill 1s ease-in-out forwards;
	z-index:-2;
	top:45%;
}
.languages-elk {
	background-image:url("../img/elk.png");
	background-size:110px;
	background-repeat:no-repeat;
	background-color:#fff;
	background-position:center;
	overflow:hidden;
}
.languages-elk:hover:before {
	content:"65%";
	display:flex;
	justify-content:center;
	position:absolute;
	width:150px;
	height:150px;
	background:#FC913A;
	left:50%;
	animation:fill 1s ease-in-out forwards;
	z-index:-2;
	top:35%;
}
.languages-pandas {
	background-image:url("../img/pandas.png");
	background-size:85px;
	background-repeat:no-repeat;
	background-color:#fff;
	background-position:center;
	overflow:hidden;
}
.languages-pandas:hover:before {
	content:"70%";
	display:flex;
	justify-content:center;
	position:absolute;
	width:150px;
	height:150px;
	background:#FC913A;
	left:50%;
	animation:fill 1s ease-in-out forwards;
	z-index:-2;
	top:30%;
}
.languages-numpy {
	background-image:url("../img/numpy.png");
	background-size:85px;
	background-repeat:no-repeat;
	background-color:#fff;
	background-position:center;
	overflow:hidden;
}
.languages-numpy:hover:before {
	content:"70%";
	display:flex;
	justify-content:center;
	position:absolute;
	width:150px;
	height:150px;
	background:#FC913A;
	left:50%;
	animation:fill 1s ease-in-out forwards;
	z-index:-2;
	top: 30%;
}
/* Languages stick start */
/* Languages stick end */
.skill-menu-open:checked ~ .skill-menu-item:nth-child(23) {
	position:absolute;
	top:-29px;
	left:259px;
	height:100%;
	width:2px;
	border-radius:0%;
	background-color:transparent;
	transform:rotate(90deg);
	z-index:-2;
}
.skill-menu-open:checked ~ .skill-menu-item .languages-main-stick {
	position:absolute;
	left:40px;
	width:2px;
	border-radius:0%;
	animation:Languages-progressAnimation 3s ease-in-out forwards;
	animation-delay:0.6s;
	background-color:transparent;
	transform-origin:left bottom;
}
.skill-menu-open:checked ~ .skill-menu-item:nth-child(24) {
	position:absolute;
	top:1px;
	left:259px;
	height:15%;
	width:2px;
	border-radius:0%;
	background-color:transparent;
	transform:rotate(49deg);
	z-index:-2;
}
.skill-menu-open:checked ~ .skill-menu-item .languages-stick1 {
	position:absolute;
	left:40px;
	height:100%;
	width:2px;
	border-radius:0%;
	animation:Languages-progressAnimation 1.3s ease-in-out forwards;
	animation-delay:1.25s;
	background-color:transparent;
	transform-origin:left bottom;
}
.skill-menu-open:checked ~ .skill-menu-item:nth-child(25) {
	position:absolute;
	top:9px;
	left:381px;
	height:16%;
	width:2px;
	border-radius:0%;
	background-color:transparent;
	transform:rotate(130deg);
	z-index:-2;
}
.skill-menu-open:checked ~ .skill-menu-item .languages-stick2 {
	position:absolute;
	left:40px;
	height:100%;
	width:2px;
	border-radius:0%;
	animation:Languages-progressAnimation 1.3s ease-in-out forwards;
	animation-delay:2.05s;
	background-color:transparent;
	transform-origin:left bottom;
}
.skill-menu-open:checked ~ .skill-menu-item:nth-child(26) {
	position:absolute;
	top:-97px;
	left:343px;
	height:12%;
	width:2px;
	border-radius:0%;
	background-color:transparent;
	transform:rotate(-330deg);
	z-index:-2;
}
.skill-menu-open:checked ~ .skill-menu-item .languages-stick3 {
	position:absolute;
	left:40px;
	height:100%;
	width:2px;
	border-radius:0%;
	animation:Languages-progressAnimation 1.3s ease-in-out forwards;
	animation-delay:2.6s;
	background-color:transparent;
	transform-origin:left bottom;
}
.skill-menu-open:checked ~ .skill-menu-item:nth-child(27) {
	position:absolute;
	top:101px;
	left:477px;
	height:15%;
	width:2px;
	border-radius:0%;
	background-color:transparent;
	transform:rotate(142deg);
	z-index:-2;
}
.skill-menu-open:checked ~ .skill-menu-item .languages-stick4 {
	position:absolute;
	left:40px;
	height:100%;
	width:2px;
	border-radius:0%;
	animation:Languages-progressAnimation 1.3s ease-in-out forwards;
	animation-delay:3.22s;
	background-color:transparent;
	transform-origin:left bottom;
}
.skill-menu-open:checked ~ .skill-menu-item:nth-child(28) {
	position:absolute;
	top:56px;
	left:496px;
	height:15%;
	width:2px;
	border-radius:0%;
	background-color:transparent;
	transform:rotate(93deg);
	z-index:-2;
}
.skill-menu-open:checked ~ .skill-menu-item .languages-stick5 {
	position:absolute;
	left:40px;
	height:100%;
	width:2px;
	border-radius:0%;
	animation:Languages-progressAnimation 1.3s ease-in-out forwards;
	animation-delay:3.22s;
	background-color:transparent;
	transform-origin:left bottom;
}
.skill-menu-open:checked ~ .skill-menu-item:nth-child(29) {
	position:absolute;
	top:29px;
	left:608px;
	height:15%;
	width:2px;
	border-radius:0%;
	background-color:transparent;
	transform:rotate(52deg);
	z-index:-2;
}
.skill-menu-open:checked ~ .skill-menu-item .languages-stick6 {
	position:absolute;
	left:40px;
	height:100%;
	width:2px;
	border-radius:0%;
	animation:Languages-progressAnimation 1.3s ease-in-out forwards;
	animation-delay:4.35s;
	background-color:transparent;
	transform-origin:left bottom;
}
.skill-menu-open:checked ~ .skill-menu-item:nth-child(30) {
	position:absolute;
	top:76px;
	left:619px;
	height:15%;
	width:2px;
	border-radius:0%;
	background-color:transparent;
	transform:rotate(103deg);
	z-index:-2;
}
.skill-menu-open:checked ~ .skill-menu-item .languages-stick7 {
	position:absolute;
	left:40px;
	height:100%;
	width:2px;
	border-radius:0%;
	animation:Languages-progressAnimation 1.3s ease-in-out forwards;
	animation-delay:4.35s;
	background-color:transparent;
	transform-origin:left bottom;
}
.skill-menu-open:checked ~ .skill-menu-item:nth-child(31) {
	position:absolute;
	top:169px;
	left:569px;
	height:15%;
	width:2px;
	border-radius:0%;
	background-color:transparent;
	transform:rotate(106deg);
	z-index:-2;
}
.skill-menu-open:checked ~ .skill-menu-item .languages-stick8 {
	position:absolute;
	left:40px;
	height:100%;
	width:2px;
	border-radius:0%;
	animation:Languages-progressAnimation 1.3s ease-in-out forwards;
	animation-delay:4.35s;
	background-color:transparent;
	transform-origin:left bottom;
}
.skill-menu-open:checked ~ .skill-menu-item:nth-child(32) {
	position:absolute;
	top:202px;
	left:555px;
	height:25%;
	width:2px;
	border-radius:0%;
	background-color:transparent;
	transform:rotate(145deg);
	z-index:-2;
}
.skill-menu-open:checked ~ .skill-menu-item .languages-stick9 {
	position:absolute;
	left:40px;
	height:100%;
	width:2px;
	border-radius:0%;
	animation:Languages-progressAnimation 1.3s ease-in-out forwards;
	animation-delay:4.35s;
	background-color:transparent;
	transform-origin:left bottom;
}
.skill-menu-open:checked ~ .skill-menu-item:nth-child(33) {
	position:absolute;
	top:212px;
	left:524px;
	height:9%;
	width:2px;
	border-radius:0%;
	background-color:transparent;
	transform:rotate(181deg);
	z-index:-2;
}
.skill-menu-open:checked ~ .skill-menu-item .languages-stick10 {
	position:absolute;
	left:40px;
	height:100%;
	width:2px;
	border-radius:0%;
	animation:Languages-progressAnimation 1.3s ease-in-out forwards;
	animation-delay:4.35s;
	background-color:transparent;
	transform-origin: left bottom;
}
/* Languages item end */
/* Languages tree end */
.languages-main-stick,.languages-stick1,.languages-stick2,.languages-stick3,.languages-stick4,.languages-stick5,.languages-stick6,.languages-stick7,.languages-stick8,.languages-stick9,.languages-stick10 {
	position:absolute;
	left:50%;
}
@keyframes Languages-progressAnimation {
	0% {
		transform:scale(1,0);
		background-color: #FC913A;
	}
	100% {
		/* transform:rotate(120deg);*/
		transform:scale(1,4);
		background-color:#FC913A;
	}
}
/* Web tree start */
/* Web item start */
.skill-menu-open:checked ~ .skill-menu-item:nth-child(34) {
	transform:translate3d(112px,211px,0);
	border:3.5px solid #FE4365;
	font-size:15px;
	animation:hidden 3.7s;
}
.skill-menu-open:checked ~ .skill-menu-item:nth-child(35) {
	transform:translate3d(220.9466px,158.52414px,0);
	border:3.5px solid #FE4365;
	font-size:15px;
	animation:hidden 4.2s;
}
.skill-menu-open:checked ~ .skill-menu-item:nth-child(36) {
	transform:translate3d(298.9466px,234.52414px,0);
	border:3.5px solid #FE4365;
	font-size:15px;
	animation:hidden 5.5s;
}
.skill-menu-open:checked ~ .skill-menu-item:nth-child(37) {
	transform:translate3d(187.9466px,290.52414px,0);
	font-size:15px;
	border:3.5px solid #FE4365;
	animation:hidden 4.7s;
}
.web-html {
	background-image:url("../img/html.png");
	background-size:80px;
	background-repeat:no-repeat;
	background-color:#fff;
	background-position:center;
	overflow:hidden;
}
.web-html:hover:before {
	content:"75%";
	display:flex;
	justify-content:center;
	position:absolute;
	width:150px;
	height:150px;
	background:#FE4365;
	left:50%;
	animation:fill 1s ease-in-out forwards;
	z-index:-2;
	top:25%;
}
.web-css {
	background-image:url("../img/css.png");
	background-size:50px;
	background-repeat:no-repeat;
	background-color:#fff;
	background-position:center;
	overflow:hidden;
}
.web-css:hover:before {
	content:"75%";
	display:flex;
	justify-content:center;
	position:absolute;
	width:150px;
	height:150px;
	background:#FE4365;
	left:50%;
	animation:fill 1s ease-in-out forwards;
	z-index:-2;
	top:25%;
}
.web-js {
	background-image:url("../img/js.png");
	background-size:110px;
	background-repeat:no-repeat;
	background-color:#fff;
	background-position:center;
	overflow:hidden;
}
.web-js:hover:before {
	content:"30%";
	display:flex;
	justify-content:center;
	position:absolute;
	width:150px;
	height:150px;
	background:#FE4365;
	left:50%;
	animation:fill 1s ease-in-out forwards;
	z-index:-2;
	top:70%;
}
.web-nginx {
	background-image:url("../img/nginx.png");
	background-size:60px;
	background-repeat:no-repeat;
	background-color:#fff;
	background-position:center;
	overflow:hidden;
}
.web-nginx:hover:before {
	content:"45%";
	display:flex;
	justify-content:center;
	position:absolute;
	width:150px;
	height:150px;
	background:#FE4365;
	left:50%;
	animation:fill 1s ease-in-out forwards;
	z-index:-2;
	top: 55%;
}
/* Web item end */
/* Web stick start */
.skill-menu-open:checked ~ .skill-menu-item:nth-child(38) {
	position:absolute;
	top:141px;
	left:197px;
	height:100%;
	width:2px;
	border-radius:0%;
	background-color:transparent;
	transform:rotate(135deg);
	z-index:-2;
}
.skill-menu-open:checked ~ .skill-menu-item .web-main-stick {
	position:absolute;
	left:40px;
	width:2px;
	border-radius:0%;
	animation:Web-progressAnimation 3s ease-in-out forwards;
	animation-delay:0.8s;
	background-color:transparent;
	transform-origin:left bottom;
}
.skill-menu-open:checked ~ .skill-menu-item:nth-child(39) {
	position:absolute;
	top:177px;
	left:193px;
	height:13%;
	width:2px;
	border-radius:0%;
	background-color:transparent;
	transform:rotate(180deg);
	z-index:-2;
}
.skill-menu-open:checked ~ .skill-menu-item .web-stick1 {
	position:absolute;
	left:40px;
	height:100%;
	width:2px;
	border-radius:0%;
	animation:Web-progressAnimation 1.3s ease-in-out forwards;
	animation-delay:1.6s;
	background-color:transparent;
	transform-origin:left bottom;
}
.skill-menu-open:checked ~ .skill-menu-item:nth-child(40) {
	position:absolute;
	top:205px;
	left:233px;
	height:14%;
	width:2px;
	border-radius:0%;
	background-color:transparent;
	transform:rotate(80deg);
	z-index:-2;
}
.skill-menu-open:checked ~ .skill-menu-item .web-stick2 {
	position:absolute;
	left:40px;
	height:100%;
	width:2px;
	border-radius:0%;
	animation:Web-progressAnimation 1.3s ease-in-out forwards;
	animation-delay:2s;
	background-color:transparent;
	transform-origin:left bottom;
}
.skill-menu-open:checked ~ .skill-menu-item:nth-child(41) {
	position:absolute;
	top:252px;
	left:268px;
	height:15%;
	width:2px;
	border-radius:0%;
	background-color:transparent;
	transform:rotate(180deg);
	z-index:-2;
}
.skill-menu-open:checked ~ .skill-menu-item .web-stick3 {
	position:absolute;
	left:40px;
	height:100%;
	width:2px;
	border-radius:0%;
	animation:Web-progressAnimation 1.3s ease-in-out forwards;
	animation-delay:2.4s;
	background-color:transparent;
	transform-origin:left bottom;
}
.skill-menu-open:checked ~ .skill-menu-item:nth-child(42) {
	position:absolute;
	top:280px;
	left:309px;
	height:15%;
	width:2px;
	border-radius:0%;
	background-color:transparent;
	transform:rotate(80deg);
	z-index:-2;
}
.skill-menu-open:checked ~ .skill-menu-item .web-stick4 {
	position:absolute;
	left:40px;
	height:100%;
	width:2px;
	border-radius:0%;
	animation:Web-progressAnimation 1.3s ease-in-out forwards;
	animation-delay:3s;
	background-color:transparent;
	transform-origin: left bottom;
}
/* Web stick end */
/* Web tree end */
.web-main-stick,.web-stick1,.web-stick2,.web-stick3,.web-stick4 {
	position:absolute;
	left:50%;
}
@keyframes Web-progressAnimation {
	0% {
		transform:scale(1,0);
		background-color:#FE4365;
	}
	100% {
		transform:scale(1,3);
		background-color: #FE4365;
	}
}
/* Cloud tree start */
/* Cloud item start */
.skill-menu-open:checked ~ .skill-menu-item:nth-child(43) {
	transform:translate3d(-118px,211px,0);
	border:3.5px solid #C49CDE;
	font-size:15px;
	animation:hidden 4.4s;
}
.skill-menu-open:checked ~ .skill-menu-item:nth-child(44) {
	transform:translate3d(-223.0534px,169.52414px,0);
	border:3.5px solid #C49CDE;
	font-size:15px;
	animation:hidden 5s;
}
.skill-menu-open:checked ~ .skill-menu-item:nth-child(45) {
	transform:translate3d(-197.0534px,287.52414px,0);
	border:3.5px solid #C49CDE;
	font-size:15px;
	animation:hidden 5.8s;
}
.cloud-github {
	background-image:url("../img/github.png");
	background-size:85px;
	background-repeat:no-repeat;
	background-color:#fff;
	background-position:center;
	overflow:hidden;
}
.cloud-github:hover:before {
	content:"75%";
	display:flex;
	justify-content:center;
	position:absolute;
	width:150px;
	height:150px;
	background:#C49CDE;
	left:50%;
	animation:fill 1s ease-in-out forwards;
	z-index:-2;
	top:25%;
}
.cloud-docker {
	background-image:url("../img/docker.png");
	background-size:58px;
	background-repeat:no-repeat;
	background-color:#fff;
	background-position:center;
	overflow:hidden;
}
.cloud-docker:hover:before {
	content:"70%";
	display:flex;
	justify-content:center;
	position:absolute;
	width:150px;
	height:150px;
	background:#C49CDE;
	left:50%;
	animation:fill 1s ease-in-out forwards;
	z-index:-2;
	top:30%;
}
.cloud-aws {
	background-image:url("../img/aws.png");
	background-size:85px;
	background-repeat:no-repeat;
	background-color:#fff;
	background-position:center;
	overflow:hidden;
}
.cloud-aws:hover:before {
	content:"45%";
	display:flex;
	justify-content:center;
	position:absolute;
	width:150px;
	height:150px;
	background:#C49CDE;
	left:50%;
	animation:fill 1s ease-in-out forwards;
	z-index:-2;
	top: 55%;
}
/* Cloud item end */
/* Cloud stick start */
.skill-menu-open:checked ~ .skill-menu-item:nth-child(46) {
	position:absolute;
	top:141px;
	left:-40px;
	height:100%;
	width:2px;
	border-radius:0%;
	background-color:transparent;
	transform:rotate(225deg);
	z-index:-2;
}
.skill-menu-open:checked ~ .skill-menu-item .cloud-main-stick {
	position:absolute;
	left:40px;
	width:2px;
	border-radius:0%;
	animation:Cloud-progressAnimation 3s ease-in-out forwards;
	animation-delay:1.2s;
	background-color:transparent;
	transform-origin:left bottom;
}
.skill-menu-open:checked ~ .skill-menu-item:nth-child(47) {
	position:absolute;
	top:177px;
	left:-36px;
	height:13%;
	width:2px;
	border-radius:0%;
	background-color:transparent;
	transform:rotate(180deg);
	z-index:-2;
}
.skill-menu-open:checked ~ .skill-menu-item .cloud-stick1 {
	position:absolute;
	left:40px;
	height:100%;
	width:2px;
	border-radius:0%;
	animation:Cloud-progressAnimation 1.3s ease-in-out forwards;
	animation-delay:2.2s;
	background-color:transparent;
	transform-origin:left bottom;
}
.skill-menu-open:checked ~ .skill-menu-item:nth-child(48) {
	position:absolute;
	top:205px;
	left:-74px;
	height:13%;
	width:2px;
	border-radius:0%;
	background-color:transparent;
	transform:rotate(270deg);
	z-index:-2;
}
.skill-menu-open:checked ~ .skill-menu-item .cloud-stick2 {
	position:absolute;
	left:40px;
	height:100%;
	width:2px;
	border-radius:0%;
	animation:Cloud-progressAnimation 1.3s ease-in-out forwards;
	animation-delay:2.75s;
	background-color:transparent;
	transform-origin:left bottom;
}
.skill-menu-open:checked ~ .skill-menu-item:nth-child(49) {
	position:absolute;
	top:258px;
	left:-117px;
	height:11%;
	width:2px;
	border-radius:0%;
	background-color:transparent;
	transform:rotate(180deg);
	z-index:-2;
}
.skill-menu-open:checked ~ .skill-menu-item .cloud-stick3 {
	position:absolute;
	left:40px;
	height:100%;
	width:2px;
	border-radius:0%;
	animation:Cloud-progressAnimation 1.3s ease-in-out forwards;
	animation-delay:3.4s;
	background-color:transparent;
	transform-origin: left bottom;
}
/* Cloud stick end */
/* Cloud tree end */
.cloud-main-stick,.cloud-stick1,.cloud-stick2,.cloud-stick3 {
	position:absolute;
	left:50%;
}
@keyframes Cloud-progressAnimation {
	0% {
		transform:scale(1,0);
		background-color: #C49CDE;
	}
	100% {
		/* transform:rotate(120deg);*/
		transform:scale(1,3);
		background-color:#C49CDE;
	}
}
/* Network Tree start */
/* Network item start */
.skill-menu-open:checked ~ .skill-menu-item:nth-child(50) {
	transform:translate3d(-255.0534px,-95.47586px,0);
	border:3.5px solid #70CC72;
	font-size:15px;
	animation:hidden 4.8s;
}
.skill-menu-open:checked ~ .skill-menu-item:nth-child(51) {
	transform:translate3d(-373.0534px,-95.47586px,0);
	border:3.5px solid #70CC72;
	font-size:15px;
	animation:hidden 5.7s;
}
.skill-menu-open:checked ~ .skill-menu-item:nth-child(52) {
	transform:translate3d(-312.0534px,36.52414px,0);
	border:3.5px solid #70CC72;
	font-size:15px;
	animation:hidden 5.2s;
}
.skill-menu-open:checked ~ .skill-menu-item:nth-child(53) {
	transform:translate3d(-433.0534px,36.52414px,0);
	border:3.5px solid #70CC72;
	font-size:15px;
	animation:hidden 6s;
}
.network-gns {
	background-image:url("../img/gns3.png");
	background-size:50px;
	background-repeat:no-repeat;
	background-color:#fff;
	background-position:center;
	overflow:hidden;
}
.network-gns:hover:before {
	content:"75%";
	display:flex;
	justify-content:center;
	position:absolute;
	width:150px;
	height:150px;
	background:#70CC72;
	left:50%;
	animation:fill 1s ease-in-out forwards;
	z-index:-2;
	top:25%;
}
.network-packet-tracer {
	background-image:url("../img/packet tracer.png");
	background-size:65px;
	background-repeat:no-repeat;
	background-color:#fff;
	background-position:center;
	overflow:hidden;
}
.network-packet-tracer:hover:before {
	content:"70%";
	display:flex;
	justify-content:center;
	position:absolute;
	width:150px;
	height:150px;
	background:#70CC72;
	left:50%;
	animation:fill 1s ease-in-out forwards;
	z-index:-2;
	top:30%;
}
.network-suricata {
	background-image:url("../img/suricata.png");
	background-size:65px;
	background-repeat:no-repeat;
	background-color:#fff;
	background-position:center;
	overflow:hidden;
}
.network-suricata:hover:before {
	content:"45%";
	display:flex;
	justify-content:center;
	position:absolute;
	width:150px;
	height:150px;
	background:#70CC72;
	left:50%;
	animation:fill 1s ease-in-out forwards;
	z-index:-2;
	top:55%;
}
.network-wireshark {
	background-image:url("../img/wireshark.png");
	background-size:85px;
	background-repeat:no-repeat;
	background-color:#fff;
	background-position:center;
	overflow:hidden;
}
.network-wireshark:hover:before {
	content:"55%";
	display:flex;
	justify-content:center;
	position:absolute;
	width:150px;
	height:150px;
	background:#70CC72;
	left:50%;
	animation:fill 1s ease-in-out forwards;
	z-index:-2;
	top: 45%;
}
/* Network item end */
/* Network stick start */
.skill-menu-open:checked ~ .skill-menu-item:nth-child(54) {
	position:absolute;
	top:-29px;
	left:-100px;
	height:100%;
	width:2px;
	border-radius:0%;
	background-color:transparent;
	transform:rotate(270deg);
	z-index:-2;
}
.skill-menu-open:checked ~ .skill-menu-item .network-main-stick {
	position:absolute;
	left:40px;
	width:2px;
	border-radius:0%;
	animation:Network-progressAnimation 3s ease-in-out forwards;
	animation-delay:1.5s;
	background-color:transparent;
	transform-origin:left bottom;
}
.skill-menu-open:checked ~ .skill-menu-item:nth-child(55) {
	position:absolute;
	top:0px;
	left:-110px;
	height:16%;
	width:2px;
	border-radius:0%;
	background-color:transparent;
	transform:rotate(-49deg);
	z-index:-2;
}
.skill-menu-open:checked ~ .skill-menu-item .network-stick1 {
	position:absolute;
	left:40px;
	height:100%;
	width:2px;
	border-radius:0%;
	animation:Network-progressAnimation 1.3s ease-in-out forwards;
	animation-delay:2.5s;
	background-color:transparent;
	transform-origin:left bottom;
}
.skill-menu-open:checked ~ .skill-menu-item:nth-child(56) {
	position:absolute;
	top:8px;
	left:-163px;
	height:17%;
	width:2px;
	border-radius:0%;
	background-color:transparent;
	transform:rotate(-130deg);
	z-index:-2;
}
.skill-menu-open:checked ~ .skill-menu-item .network-stick2 {
	position:absolute;
	left:40px;
	height:100%;
	width:2px;
	border-radius:0%;
	animation:Network-progressAnimation 1.3s ease-in-out forwards;
	animation-delay:2.8s;
	background-color:transparent;
	transform-origin:left bottom;
}
.skill-menu-open:checked ~ .skill-menu-item:nth-child(57) {
	position:absolute;
	top:0px;
	left:-228px;
	height:16%;
	width:2px;
	border-radius:0%;
	background-color:transparent;
	transform:rotate(-49deg);
	z-index:-2;
}
.skill-menu-open:checked ~ .skill-menu-item .network-stick3 {
	position:absolute;
	left:40px;
	height:100%;
	width:2px;
	border-radius:0%;
	animation:Network-progressAnimation 1.3s ease-in-out forwards;
	animation-delay:3.3s;
	background-color:transparent;
	transform-origin:left bottom;
}
.skill-menu-open:checked ~ .skill-menu-item:nth-child(58) {
	position:absolute;
	top:9px;
	left:-293px;
	height:15%;
	width:2px;
	border-radius:0%;
	background-color:transparent;
	transform:rotate(-130deg);
	z-index:-2;
}
.skill-menu-open:checked ~ .skill-menu-item .network-stick4 {
	position:absolute;
	left:40px;
	height:100%;
	width:2px;
	border-radius:0%;
	animation:Network-progressAnimation 1.3s ease-in-out forwards;
	animation-delay:3.6s;
	background-color:transparent;
	transform-origin: left bottom;
}
/* Network stick end */
/* Network tree end */
.network-main-stick,.network-stick1,.network-stick2,.network-stick3,.network-stick4 {
	position:absolute;
	left:50%;
}
@keyframes Network-progressAnimation {
	0% {
		transform:scale(1,0);
		background-color: #70CC72;
	}
	100% {
		/* transform:rotate(120deg);*/
		transform:scale(1,4);
		background-color:#70CC72;
	}
}
/* Bubbly */
.skill-menu-open:checked ~ .skill-menu-item:nth-child(59) {
	position:absolute;
	left:100%;
	top:0px;
	width:5px;
	height:5px;
	font-size:5px;
	transition-duration:280ms;
}
.bubbly {
	transition-duration:680ms;
	position:absolute;
	top:-150%;
	width:200px;
	left:-30%;
	border-radius:.3em;
	background-color:#4c4f5a;
	border:1px solid #fdba05;
	color:#fdba05;
	font-size:30px;
	font-weight:600;
	box-shadow:5px 5px 2px 1px #000;
	animation:shake-vertical 5s linear infinite ;
	will-change: transform;
}
.bubbly::after {
	content:'';
	position:absolute;
	bottom:0;
	left:50%;
	width:0;
	height:0;
	border:20px solid transparent;
	border-top-color:#fdba05;
	border-bottom:0;
	margin-left:-20px;
	margin-bottom:-20px;
}
@keyframes shake-vertical {
	0%,100% {
		transform:translateY(0);
	}
	10%,30%,50%,70% {
		transform:translateY(-8px);
	}
	20%,40%,60% {
		transform:translateY(8px);
	}
	80% {
		transform:translateY(6.4px);
	}
	90% {
		transform: translateY(-6.4px);
	}
}
/* Section two public keyframe */
@keyframes hidden {
	0% {
		opacity:0;
	}
	50% {
		opacity:0;
	}
	75% {
		opacity:0;
	}
	100% {
		opacity: 1;
	}
}
/* fill animation top Formula skill 100% - percent = top */
@keyframes fill {
	from {
		top:80px;
		border-radius:50%;
		transform:translateX(-50%) rotate(0deg);
	}
	to {
		border-radius:50%;
		transform: translateX(-50%) rotate(360deg);
	}
}